/* configuração global*/
*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* configuração global das cores */
:root{
    --background: #f78b00;
    --legend: #f78b00;
    --fieldset: #f78b00;
    --submit: #f78b00;
}

body{
    background-color: var(--background);
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
}

fieldset{
    border: 3px solid var(--fieldset);
}

legend{
    border: 1px solid var(--legend);
    padding: 10px;
    text-align: center;
    background-color: var(--legend);
    border-radius: 8px;
}

.inputBox{
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}

#date_of_birth{
    color: black;
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#submit{
    background: var(--submit);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover{
    background: black;
}
